<h1> Log In </h1>
<div class="center" ng-contoller="loginController">
  <label for="email">Email</label><br>
    <input class="h1" type="text" name="email-address" placeholder="email address" ng-model="email"required ><br>
    <label for="password">Password</label><br>
    <input class="h1" type="password" name="password" placeholder="password" ng-model="password"required><br>
    <button class="button" type="submit" id="para2" class="btn" ng-click="loginUser()">Log In</button><br><br>
    <button class="forget" type="submit" class="btn" ui-sref="forgetPassword">Forget Password</button><br><br>
    <button class="new" type="submit" class="btn" ui-sref="register">Add User</button>
</div > 